.profile {
  position: relative;
  .avatar-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    &-img {
      position: relative;

      .ant-image {
        &-img {
          border-radius: 50%;
          flex-shrink: 0;
          width: 180px;
          height: 180px;
          object-fit: cover;
          outline: 2px solid rgba($color: #6356e5, $alpha: 0.4);
          outline-offset: 3px;
        }
        &-mask {
          border-radius: 50%;
        }
      }
      label {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: #6356e5;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.3s linear;
        opacity: 0.5;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &-info {
      h5 {
        margin-bottom: 0;
      }
    }
  }
  .change-info-box {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 576px) {
  .profile {
    .avatar-box {
      padding-top: 20px;
      justify-content: center;
      &-img {
        .ant-image {
          margin: 0 auto;
          &-img {
            width: 100px;
            height: 100px;
          }
        }
      }
      &-info {
        text-align: center;
        h5 {
          font-size: 14px;
          margin-bottom: 0;
        }
        span,
        h6 {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
    .change-info-box {
      .ant-btn {
        span {
          font-size: 18px;
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    .history-box {
      h5 {
        font-size: 14px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
        padding-top: 10px;
      }
    }
  }
}
